<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="GeoLib.Services.GeoManager">
        <endpoint address="net.tcp://localhost:11001/GeoService"
                  binding="netTcpBinding"
                  contract="GeoLib.Contracts.IGeoService" bindingConfiguration="selfhost_tcp">
        </endpoint>
        <endpoint address="http://localhost:11002/GeoService"
                  binding="wsHttpBinding"
                  contract="GeoLib.Contracts.IGeoService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="selfhost_tcp" maxReceivedMessageSize="2000000" receiveTimeout="00:00:05">
          <reliableSession enabled="True" inactivityTimeout="00:00:05" ordered="True"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="metadatabehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="main" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ZipCodeData;Integrated Security=TRUE;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
