<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="queryzoneconn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QueryZone;User ID=idwui;Password=admin123+;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="queryzoneconn" connectionString="Data Source=10.195.216.189;Initial Catalog=queryzone;User ID=idwlzoneselect;Password=idw@123;Connection Timeout=360"
         providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="queryzoneconn" connectionString="Data Source=10.195.216.52;Initial Catalog=queryzone;User ID=cognosuser1;Password=cognosuser1!;Connection Timeout=360"
         providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="queryzoneconn" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=IDW;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\IDW.mdf" providerName="System.Data.SqlClient" />-->
    <add name="queryzoneconn" connectionString="Data Source=10.195.176.137;Initial Catalog=IDWTestDB;User ID=idwdb;Password=idwdb!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>