<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="/Styles/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="/Scripts/ThirdParty/angular.min.js"></script>
        <script src="/Scripts/ThirdParty/angular-resource.min.js"></script>
        <script src="/Scripts/ThirdParty/angular-messages.min.js"></script>
        <script src="/Scripts/ThirdParty/angular-resource.min.js"></script>
        <script src="/Scripts/Custom/RoutingExample.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/index.htm">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#/second"><i></i> Second</a></li>
				</ul>
			</div>
			</nav>
		</header>
        <div class="container">
			<div ng-view>
            </div>

		</div>

    </body>
</html>