@{
    ViewData["Title"] = "Index";
}

@section Style{

    <link href="~/css/orderedlist.css" rel="stylesheet" type="text/css" />
}
<div style="max-width:200px">
    <h4>Identity Operations</h4>
    <ul class="sameforall">
        <li><a asp-area="" asp-controller="Tiger" asp-action="Add">Create</a></li>
        <li><a asp-area="" asp-controller="Tiger" asp-action="Update">Update</a></li>
        <li><a asp-area="" asp-controller="Tiger" asp-action="Get">Fetch</a></li>
    </ul>
</div>