<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Users/UserAuth.aspx" cookieless="UseUri" timeout="30" slidingExpiration="true"></forms>
    </authentication>
    <machineKey 
      decryption="AES" 
      validation="SHA1" 
      decryptionKey="72403812E6B8CD34E995E1EE95C113F52CCCCCC4E2A537F83D36A496687B21DE" 
      validationKey="486DD56539797FDBBB546DAB0FB220807CAF39773984995CEFB207BB8AA097E8"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>