<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/PhotoSharingStyles.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div> 
        <h1 class="site-page-title">Adventure Works Photo Sharing</h1>
        <div class="clear-floats"></div>
        <div id="topmenu">
            @Html.MvcSiteMap().Menu(false, true, true)
        </div>
        <div id="breadcrumb">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
