@{
    ViewBag.Title = "Operas I have seen";
}


        <p>
            Well to My hobbies web site. to get more details visit below link
            @Html.ActionLink("Operas I've seen","Index","Opera")
        </p>

