@{
    ViewBag.Title = "Operas I have seen";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operas I have seen</title>
</head>
<body>
    <div>
        <p>
            Well to My hobbies web site. to get more details visit below link
            @Html.ActionLink("Operas I've seen","Index","Opera")
        </p>
    </div>
</body>
</html>
